<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
<ion-button class="close-btn" slot="end" fill="clear" (click)="dismiss()">
  <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="main">
  <div class="text-div">
    <h1>Verify your contact details!</h1>
    <p>Please enter OTP sent on +91 8007477149</p>
    <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
    <ion-button class="verify-button" mode="ios" expand="block" color="primary" (click)="verifyOtp()">
      Verify
    </ion-button>
    <p>Resend OTP in 01:00?</p>
  </div>
 </div>
</ion-content>
